body{
    margin :20;
}


.card{
    padding : 20px;
    display : flex;
    width : 400px;
    margin : auto;
    margin-top : 200px;  
    justify-content: space-around;
    border-bottom : 6px solid #d8cefe ;
    color : black   ;
    background-color: #F06543;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius : 5px;

    animation-name : enlarge;

    animation-duration : 4s;

    animation-timing-function: ease;

    animation-fill-mode: forwards;

    animation-play-state: paused;
}
.img{
    width : 150px;
}

.BlueBorder{
    border : 1px dotted blue;
}

.info{
    text-align : center;
    text-shadow : 2px 2px 4px white;
}

.card:hover {
    animation-play-state : running;
}

@keyframes enlarge{
    0%{
        
    }

    50%{
        transform: rotate(360deg);
        border-radius : 30%;
    }

    100%{
        scale : 2;
        transform : rotate(360deg);
        border-radius : 2px;

    }
}